<div class="carousel-inner">
  <% product.images.each_with_index do | image, i | %>
    <div data-target="#carousel" data-slide-to=<%= i %> class="thumb">
      <%= image_tag(image.attachment(:small)) %>
    </div>
  <% end %>
</div>
